body {
    box-sizing: border-box;
    height: 100%;
    background: linear-gradient(-90deg, #3d3b8e, #6883ba);;
}

main {
    margin: 20px 0;
}

button {
    margin: 10px 0 10px 0;
    border: none;
    border-radius: 3px;
}

button:enabled {
    background-color: #6883ba;
    color: #f9f9f9;
}

input {
    margin: 20px 0 5px 0;
}

button:hover:enabled {
    background-color: #3d3b8e;
}

header {
    background: linear-gradient(90deg, #3d3b8e, #6883ba);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

}

h1 {
    font-size: 70px;
    font-weight: 200;
    line-height: 90%;
    height: 100px;
    width: 100%;
    text-align: center;
    color: #f9f9f9;
    padding: 0;
    margin: 0;
    align-items: center;
}

h2, h3 {
    text-align: center;
}

p {
    font-size: 18px;
}

#input-box {
    border: 2px solid #3d3b8e;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#cityBtns {
    border-top: 2px solid #6883ba;
    overflow: auto;
}

#content-box {
    width: auto;
}

.dashboard {
    border: 2px solid #3d3b8e;
    border-radius: 3px;
    min-height: 200px;
    display: block;
    background-color: #f9f9f9;
}

.dashboard p {
    font-size: 22px;
}

#date {
    text-align: center;
}

#uvBtn {
    color: white;
    padding: 0;
}

.uv-low {
    background-color: #3ea72d;
}
.uv-moderate {
    background-color: #fff300;
}
.uv-high {
    background-color: #f18b00;
}
.uv-very-high {
    background-color: #e53210;
}
.uv-extreme {
    background-color: #b567a4;
}


#day5-heading {
    color: #f9f9f9;
    font-weight: 300;
}

.card {
    border: 2px solid #3d3b8e;
    min-height: 200px;
    min-width: 150px;
    font-size: 14px;
    line-height: 10px;
    padding-top: 12px;
}

.day5 p {
    padding: 2px 5px;
}

.card-icon {
    margin: 15px 0 30px 0;
    font-size: 50px;
    text-align: center;
}

@media screen and (max-width:992px) {
    .dashboard {
        margin-top: 15px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 50px;
    }

    #input-box {
        margin-bottom: 30px;
    }

    /* .dashboard {
        padding-left: 0;
        padding-right: 0;
    } */
}